<div class="row mt-3">
  <div class="col-sm-8">
    <div >


    <iframe class="youtube-frame" src="<%= youtube_embed(video.url) %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-sm-4">
    <h3><%= fetch_youtube_title(video.url) %></h3>
    <p>Shared by <%= video.user&.email %></p>
  </div>
</div>