<div class="d-flex flex-row mt-4">
  <div class="mr-3">
    <iframe width="490" height="275" src="<%= youtube_embed(video.url) %>" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>Share by <%= video.user&.email %>
  </p>
</div>